# force proper line endings for certain files
* text eol=lf
*.odt binary
*.pdf binary
*.png binary
*.gif binary
*.jpg binary
*.exe binary
*.xz  binary
*.zip binary
*.tgz binary
*.vbs text eol=crlf
*.pattern text eol=crlf
*.ini text eol=crlf