*~
.DS_Store
/login-*.conf
/smbpasswd.conf
/settings.conf
/session.log
/client_id
/include/ip_list.txt
/ip_list.txt
/include/autostart.conf
/nbproject/
/php/PHP_sessions/
/htdocs/nbproject/
/firewall/
/cache
/ovpn.d/
