[Unit]
Description=write IP to /etc/issue - now using if-up.d since systemD is not consistent
After=network-online.target sshd.service

[Service]
Type=oneshot
ExecStart=/usr/local/pia/include/service/pia-boot-msg.sh

[Install]
WantedBy=multi-user.target