[Unit]
Description=pia-tunnel daemon
After=network-online.target multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/pia/pia-start daemon &>>  /pia/cache/session.log

[Install]
WantedBy=multi-user.target