[Unit]
Description=pia-tunnel autostart
After=network.target auditd.service sshd.service

[Service]
Type=oneshot
ExecStart=/usr/local/pia/include/autostart.sh

[Install]
WantedBy=multi-user.target