[Unit]
Description=pia-tunnel first boot checks
After=network-online.target multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/pia/include/first_boot.sh

[Install]
WantedBy=multi-user.target