[Unit]
Description=write IP to /etc/issue
After=network-online.target multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/pia/include/service/pia-boot-msg.sh

[Install]
WantedBy=multi-user.target